<div class="container-fluid main-container">
  <div class="row no-gutters align-items-center">
    <div class="col"></div>
    <div class="col-7 main gallery-container">

      <app-browser-controls (pageSelected)="onPageSelected($event)" [totalPages]="totalPages" (browse)="onBrowse($event)"></app-browser-controls>

      <div class="row gallery-placeholder align-items-center" *ngIf="images.length == 0">
        <div class="col"></div>
        <div class="col text-center">
          <div class="lead">Please enter a Group ID</div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row no-gutters" *ngFor="let i of appUtils.getRange(images.length / 4)">
        <div class="col img" *ngFor="let j of [0, 1, 2, 3]">
          <img class="img-thumbnail" *ngIf="getThumbnail(i * 4 + j)" [src]="getThumbnail(i * 4 + j)">
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>
