.main-container {
  margin-top: 10px;
}

.main {
  background-color: white;
  border: 1px solid #dddddd;
}

.gallery-container {
  padding: 2px;
}

.image-modal {
  z-index: 1050;
  max-width: 800px;
  width: auto;
  max-height: 90vh;
}
