<div class="container-fluid main-container">
  <div class="row no-gutters align-items-center">
    <div class="col"></div>
    <div class="col-7 main gallery-container">

      <app-browser-controls (pageSelected)="onPageSelected($event)"
                            [totalPages]="totalPages"
                            (browse)="onBrowse($event)"
                            [(groupId)]="groupId"></app-browser-controls>
      <app-thumbnails [thumbnails]="thumbnails" [placeholderString]="'Please enter a Group ID'"
                      (thumbnailClick)="openModal($event)"></app-thumbnails>
    </div>

    <div class="col"></div>
  </div>
</div>
