<div class="container-fluid main-container">
  <div class="row no-gutters align-items-center">
    <div class="col"></div>
    <div class="col-5 main gallery-container">

      <div class="row no-gutters mt-2 pl-2 pr-2" *ngFor="let group of favourites">
        <div class="col-auto text-center">
          <img class="rounded-circle" [src]="group.imageUrl">
        </div>
        <div class="col-auto ml-2 center-vertical"><span>{{group.alias}}</span></div>
        <div class="col-auto ml-auto center-vertical">
          <i class="material-icons fav-btn-fav fav-btn" (click)="unfavGroup(group)">star</i>
        </div>
      </div>

      <div class="row no-gutters mt-2 pl-2 pr-2" *ngFor="let group of allGroups">
        <div class="col-auto text-center">
            <img class="rounded-circle" [src]="group.imageUrl">
        </div>
        <div class="col-auto ml-2 center-vertical"><span>{{group.alias}}</span></div>
        <div class="col-auto ml-auto center-vertical">
          <i class="material-icons fav-btn" (click)="favGroup(group)">star_border</i>
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>
