<div class="container-fluid main-container">
  <div class="row no-gutters align-items-center">
    <div class="col"></div>
    <div class="col-5 main gallery-container">

      <div class="row no-gutters" *ngFor="let group of favourites">
        <div class="col-1 text-center">
          <img class="rounded-circle" [src]="group.imageUrl">
        </div>
        <div class="col center-vertical"><span>{{group.alias}}</span></div>
        <div class="col-1 center-vertical">
          <i class="material-icons fav-btn-fav">star</i>
        </div>
      </div>

      <div class="row no-gutters mt-2" *ngFor="let group of allGroups">
        <div class="col-1 text-center">
            <img class="rounded-circle" [src]="group.imageUrl">
        </div>
        <div class="col center-vertical"><span>{{group.alias}}</span></div>
        <div class="col-1 center-vertical">
          <i class="material-icons">star_border</i>
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>
