<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <span class="navbar-brand">VK Gallery</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#/gallery">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/groups">My Galleries</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
