<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top not-so-high-z">
  <span class="navbar-brand">VK Gallery</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isActive('GALLERY')">
        <a class="nav-link tab-link" (click)="tabSelect('GALLERY')">Browse</a>
      </li>
      <li class="nav-item" [class.active]="isActive('GROUPS')">
        <a class="nav-link tab-link" (click)="tabSelect('GROUPS')">My Galleries</a>
      </li>
      <li class="nav-item" [class.active]="isActive('ALBUMS')">
        <a class="nav-link tab-link" (click)="tabSelect('ALBUMS')">Albums</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
